/** @type {import('@types/eslint').Linter.Config} */
{
  "parser": "@typescript-eslint/parser",

  "extends": [
    "plugin:@typescript-eslint/recommended",
    "prettier",
    "plugin:prettier/recommended",
    "plugin:react/recommended",
    "plugin:no-array-reduce/recommended",
    "plugin:storybook/recommended"
  ],

  "plugins": ["@typescript-eslint", "import"],

  "rules": {
    "@typescript-eslint/consistent-type-definitions": ["error", "type"],
    "@typescript-eslint/no-var-requires": "off",

    // Import
    "import/no-default-export": "error",
    "import/order": [
      "error",
      {
        "groups": ["builtin", "external", "internal", "parent", "sibling"],
        "newlines-between": "always",
        "alphabetize": {
          "order": "asc",
          "caseInsensitive": true
        }
      }
    ]
  },

  "overrides": [
    {
      "files": ["stories/**/*.demozap.tsx"],
      "rules": {
        "import/no-default-export": "off"
      }
    }
  ],

  // ESlint default behaviour ignores file/folders starting with "." - https://github.com/eslint/eslint/issues/10341
  "ignorePatterns": ["!.*", "bin", "dist", "node_modules"],

  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
